node_modules/
.env

# psql 'postgresql://neondb_owner:npg_W5TFeKHfAy7R@ep-wild-paper-a8q8pwqa-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require'

PGUSER='neondb_owner'
PGPASSWORD='npg_W5TFeKHfAy7R'
PGHOST='ep-wild-paper-a8q8pwqa-pooler.eastus2.azure.neon.tech'
PGDATABASE='neondb'
